<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><!--It should be below noty-->

    <title>Document</title>
</head>
<body>
   
    <%if(profile_user){%>
    <h2><%=profile_user.name%></h2>
    <h2><%=profile_user.email%></h2>
    <%}else{%>
        <h2><%=locals.user.name%></h2>
        <h2><%=locals.user.email%></h2>
    <%}%>
    <%if(!profile_user){%>
        <p>UPDATE INFORMATION:</p>
        <form action="/update/<%=locals.user.id%>" method="post">
           <input type="text"  name="name" placeholder="Your new name" value="<%=locals.user.name%>" required>
           <input type="email"  name="email" placeholder="Your new email" value="<%=locals.user.email%>" required>
           <input type="submit" value="Update">
           
        </form>
    <%}%>
    <%if(!profile_user){%>
    <section>
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" required></textarea><br>
            <input type="submit" value="Post">
            
        </form>
    </section>
    <%}%>
    <div id="posts-list-container">
        <ul>
           <% for(post of posts){%>
             <li id="post-<%=post._id%>">
                <p>
                    <%if ((locals.user) && (locals.user.id==post.user.id)){%>
                    <small>
                        <a class="delete-post-button" href="/post/destroy/<%=post.id%>">DELETE</a><br>
                    </small>
                    <%}%>
               <%=post.content%><br>
               <small><%=post.user.name%></small>
                </p>
                <div class="post-comments">
                   <%if(locals.user){%>
                         <form action="/comments/create" method="post" id="new-comment-form">
                            <input type="text" name="content" placeholder="Type here to add comments..." required>
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="submit" value="Add Comment">
                         </form>
                    <%}%>
                    
                    <div class="post-comments-list">
                        <ul id="post-comments-<%=post._id%>">
                            
                            <%for (comments of post.comment){%>
                                <li id="comment-<%=comments._id%>">
                                <p>
                                    <%if (locals.user&&(locals.user.id==comments.user.id || locals.user.id==comments.post)){%>
                                        <small>
                                        <a id="Delete-comment" href="/comments/destroy/<%=comments._id%>">DELETE</a>
                                        </small>
                                    <%}%>   
                                 <%=comments.content%>

                                 <br>
                                 <%=comments.user.name%>
                                </p>
                                </li>
                             <%}%>
                            
                        </ul>

                    </div>
                </div>
             </li>
          
           <%}%>
        </ul>
   </div> 
<section id="user_friends">
    <h4>Friends</h4>
    <%for (u of all_users){%>
                <p>
                    <%if(locals.user.id!=u.id){%>
                    <a href="/profile/<%=u.id%>"><%=u.name%></a>
                    <%}%>
                </p>
    <%}%>

</section>
   

<a href="/signout">SIGN OUT</a>
    <script>
         <% if(flash.success&&flash.success.length>0){ %>

             new Noty({
               theme:'relax',
    
           
               text: "<%=flash.success%>",
               type:"success",
               layout:"topRight",
               timeout:1500 //this is in milliseconds

            
           
               }).show();
        <% } %>
    </script>
<script src="/js/home_posts.js"></script>
</body>
</html>
